@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>OpenAuth Prototype</h1>
    <p class="lead">
        H υλοποίηση μας αφορά το prototype που υλοποιέι το component του Authenticatiοn στην εφαρμογή μας. Η υλοποίηση θα γίνει χρησιμοποιόντας Visual Studio 2013 σε γλώσσα C#
        σύμφωνα με το MVC pattern για web εφαρμογές. Στο prototype αυτο θέλουμε να δείξουμε τις λειτουργίες Login και Register συνδιασμένες με external authentication με το πρωτόκολλο OAuth 2.0
        για authentication μέσω Facebook, Google και Twitter.
    </p>

</div>



<div class="jumbotron">
    <h1>Snapshot prototype</h1>
    <p class="lead">
        Τα latest achievements έρχονται σε μορφή JSON objects απο ajax GET request στο αντίστοιχο web service
        GET: api/Achievements
    </p>

    <p>
        @Html.Partial("_SnapshotPartial")
    </p>

</div>
